/* Глобальные настройки страницы */

html {
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

::selection {
  background: #d6ff35;
  color: #171717;
}
